apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/name: deployment-handlers
    app.kubernetes.io/managed-by: kustomize
  name: controller-manager
  namespace: system
  annotations:
    # IRSA (IAM Roles for Service Accounts) annotation for AWS access
    # When deploying via OLM, this should be set to the ARN of the IAM role created by Terraform
    # Format: arn:aws:iam::<AWS_ACCOUNT_ID>:role/<CLUSTER_NAME>-componator-aws-providers
    # Example: arn:aws:iam::123456789012:role/deploy-op-demo-componator-aws-providers
    # 
    # To configure this after OLM deployment, run:
    #   cd componator-tests/eks-demo/terraform
    #   ROLE_ARN=$(terraform output -raw componator_aws_providers_role_arn)
    #   kubectl annotate serviceaccount componator-aws-controller-manager \
    #     -n componator "eks.amazonaws.com/role-arn=$ROLE_ARN" --overwrite
    #   kubectl rollout restart deployment componator-aws-controller-manager -n componator
    eks.amazonaws.com/role-arn: "REPLACE_WITH_IAM_ROLE_ARN"
